<a href="https://colab.research.google.com/github/arturmpaiva/Estudos-Programacao/blob/main/Aula01_Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Meu primeiro notebook")

Meu primeiro notebook

In [2]:
nome = "Artur"
print(nome)

artur

In [3]:
#Descobrir tipo de variÃ¡vel
type(nome)

str

In [22]:
a = 100
b = 25.6
c = a > b
d = "chimpanze"

In [23]:
print(c)

True

In [34]:
a = 100 < 200
b = 85 == 6
c = "pablo" == 'Pablo'
d = 25 == '25'
e = 30 == (6 * 5)
f = 'chocolate' != 'agua'

In [36]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

True
False
False
False
True
True

In [63]:
notaAprovacao = 7.0
notaWalison = 9.0
print(notaAprovacao < notaWalison)

True

Input de dados no Python

In [80]:
#fazer parse
nota1 = float(input('Digite a primeira nota '))
nota2 = float(input('Digite a segunda nota '))
nota3 = float(input('Digite a terceira nota '))
media = (nota1 + nota2 + nota3)/3
print(media)

Digite a primeira nota 10
Digite a segunda nota 4
Digite a terceira nota 4
6.0

In [81]:
if (media < 4):
  print('REPROVADO')
elif (media < 7):
  print('RECUPERACAO')
else:
  print('APROVADO')

RECUPERACAO